<h1>Bookings List</h1>
<form action ="/" method="get">
  <button type="submit">Home</button>
</form>
<% if @booking_requests.empty?%>
No Bookings Made Yet
<% else %>
<ul>
  <% @booking_requests.each do |request| %>
    <style> div {border-style: solid;}</style>
    <div {border-style: solid;}><h2>Guest: <%= request.user.user_name %> Space Name: <%= request.space.name %> Price Per Night: £<%= request.space.price_per_night.to_s %></h2>
    <h2><%= request.space.description %></h2>
    <h2>Available Dates: <%= request.space.available_from %>-<%= request.space.available_to %></h2>
    <h1>Status: <%= request.status %></h1>
    </div><br>
    <% end %>
</ul>
<% end %>
