<h1> Select preferred dates </h1>



<form action="/spaces/<%= @space.id %>/bookings" method="post">

  <% if ENV['RACK_ENV'] == 'test' %>
  Select a date:  <input type="text" name="selected_date" id="datePicker" placeholder="click here to select a date" style="border: 1px solid black;">
  <% else %>
  Select a date:  <input type="text" name="selected_date" id="datePicker" placeholder="click here to select a date" readonly style="border: 1px solid black;">
  <% end %>

      <input type="hidden" value= "<%= @space.id %>" name = "space_id"></input>
  <button type="submit">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
<script>
<%= "var array = #{@unavailable_dates}" %>

$('#datePicker').datepicker({
  dateFormat: 'dd/mm/yy',
  minDate: new Date('<%= @space.available_from %>'),
  maxDate: new Date('<%= @space.available_to %>'),
  beforeShowDay: function(date){
      var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
      return [ array.indexOf(string) == -1 ]
  }
});
</script>
